*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.profile{
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 4rem;
}

.name{
    margin-bottom: 5rem;
}
.email a{
    text-decoration: none;
    color: #c3c3c3;
}

p{
    padding-top: 1rem;
    padding-right: 2rem;
    text-align: justify;
}

.about_me_block img{
    max-width: 250px;
    height: 300px;
    object-fit: cover;
}

.about_me_block{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}